<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
      <p>{{ site.description }}</p>
    </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/"><i class="fa fa-home fa-lg fa-fw"></i>Home</a>
    <a class="sidebar-nav-item{% if page.url == "/me/" %} active{% endif %}" href="/me/"><i class="fa fa-info fa-lg fa-fw"></i>Me</a>

    <a class="sidebar-nav-item" href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter-unadblocked fa-lg fa-fw"></i>Twitter</a>
    <a class="sidebar-nav-item" href="https://github.com/{{ site.github }}"><i class="fa fa-github fa-lg fa-fw"></i>Github</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="https://github.com/poole/lanyon">Lanyon</a>
      <i class="fa fa-heart fa-fw"></i>
    </p>
  </div>
</div>
